<a href="https://colab.research.google.com/github/RoboIOTers/Python-code/blob/main/session_1_tasks.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Task : Session 1
Solve these questions own your own and try to test yourself what you have learned in the session.

Happy Learning!

### Q1 :- Print the given strings as per stated format.

**Given strings**: 
```
"Data" "Science" "Mentorship" "Program" 
"By" "CampusX"
```
**Output**: 
``` 
Data-Science-Mentorship-Program-started-By-CampusX
```

Concept- [Seperator and End]

In [1]:
# Write your code here
print("Data","Science","Mentorship","Program","By","CampusX", sep='-')

Data-Science-Mentorship-Program-By-CampusX

### Q2:- Write a program that will convert celsius value to fahrenheit.

In [3]:
# Write your code here
cel = float(input("enter in celcius"))
fahren = (cel*9/5) +32
print("temperature in fahrenheit is ",fahren)

enter in celcius0
temperature in fahrenheit is  32.0

### Q3:- Take 2 numbers as input from the user.Write a program to swap the numbers without using any special python syntax.

In [5]:
# Write your code here
num1 = float(input("enter first number"))
num2 = float(input("enter 2nd number"))
temp = num1
num1 = num2
num2 = temp
print ("the swapped numbers are num1 and number two",num1,num2)

enter first number23
enter 2nd number34
the swapped numbers are num1 and number two 34.0 23.0

### Q4:- Write a program to find the euclidean distance between two coordinates.Take both the coordinates from the user as input.

In [8]:
# Write your code here
x1 = float(input("enter x1"))
y1 = float(input("enter  y1"))
x2 = float(input("enter x2"))
y2 = float(input("enter  y2"))
distance = pow(pow((y2-y1),2) + pow((x2-x1),2),0.5)
print(distance)

enter x12
enter  y12
enter x24
enter  y24
2.8284271247461903

### Q5:- Write a program to find the simple interest when the value of principle,rate of interest and time period is provided by the user.

In [9]:
# Write your code here
p = float(input("enter Principle"))
r = float(input("enter  rate of interest"))
t = float(input("enter time period in years"))
si = (p*r*t)/100
print( si)

enter Principle1000
enter  rate of interest5
enter time period in years2
100.0

### Q6:- Write a program that will tell the number of dogs and chicken are there when the user will provide the value of total heads and legs.

For example:
Input:
heads -> 4
legs -> 12
<br>
Output:
dogs -> 2
chicken -> 2

In [13]:
# Write your code here
h = float(input("enter number of heads"))
l = float(input("enter  number of legs"))

dogs = (l-2*h)/2
chickens = h- dogs
print("number of dogs",dogs)
print("number of chickens",chickens)

enter number of heads12
enter  number of legs44
number of dogs 10.0
number of chickens 2.0

### Q7:- Write a program to find the sum of squares of first n natural numbers where n will be provided by the user.

In [14]:
# Write your code here
n = float(input("enter n"))
sum = n*(n+1)*(2*n+1)/6
print(sum)

enter n4
30.0

### Q8:- Given the first 2 terms of an Arithmetic Series.Find the Nth term of the series. Assume all inputs are provided by the user.

In [15]:
# Write your code here
a1 = float(input("enter first term"))
a2 = float(input("enter  second term"))
n= int(input("enter n"))
nth_term= a1 + (n-1)*(a2-a1)
print("nth term",nth_term)

enter first term2
enter  second term4
enter n4
nth term 8.0

### Q9:- Given 2 fractions, find the sum of those 2 fractions.Take the numerator and denominator values of the fractions from the user.

In [18]:
# Write your code here
n1 = float(input("enter numberator of first fraction"))
d1 = float(input("enter denominator of first fraction"))
n23 = float(input("enter numberator of 2nd fraction"))
d2 = float(input("enter  denominator of 2nd fraction"))
lcm = d1*d2
r1 = lcm / d1
r2 = lcm / d2
ans_num = r1 * n1 + r2 * n2
print(ans_num,'/',lcm, end="" )

enter numberator of first fraction2
enter denominator of first fraction3
enter numberator of 2nd fraction4
enter  denominator of 2nd fraction5
22.0 / 15.0

### Q10:- Given the height, width and breadth of a milk tank, you have to find out how many glasses of milk can be obtained? Assume all the inputs are provided by the user.



Input:<br>
Dimensions of the milk tank<br>
H = 20cm, L = 20cm, B = 20cm
<br><br>
Dimensions of the glass<br>
h = 3cm, r = 1cm

In [21]:
# Write your code here
h = float(input("enter height of milk tank"))
w = float(input("enter width of milk tank"))
b = float(input("enter breadth of milk tank"))
gh = float(input("enter height of glass"))
gr = float(input("enter radius of glass"))
vol_tank = h*w*b
vol_glass = 3.14*gr*gr*gh
print("number of glasses of milk",vol_tank/vol_glass)

enter height of milk tank3
enter width of milk tank5
enter breadth of milk tank6
enter height of glass2
enter radius of glass2
number of glasses of milk 3.5828025477707004